body {
    /* margin: 0;
    padding: 0; */
    /* display: flex;
    justify-content: center;  */
    background-image: linear-gradient(#ecf4ff 1px, transparent 1px), linear-gradient(to right, #ecf4ff 1px, transparent 1px);
    background-size: 34px 34px;
    background-color: #ffffff;
}


.top-main {
    position: relative; /* Allow absolute positioning of child elements */
    /* background-image:  linear-gradient(#2a81ff 1.2000000000000002px, transparent 1.2000000000000002px), linear-gradient(to right, #2a81ff 1.2000000000000002px, #ffffff 1.2000000000000002px);
    background-size: 24px 24px;
    height: 100vh; /* Full height for the top section */
    /* width: 100%; */ 
    z-index: 100; /* Lower z-index for background */
}



.scrollable-nav {
    position: fixed; /* Fixed position for navbar */
    top: 20px; /* Distance from top */
    left: 50%; /* Center horizontally */
    transform: translateX(-50%); /* Adjust for centering */
    max-width: 600px; /* Optional max width */
    height: 50px; /* Fixed height for navbar */
    overflow-x: auto; /* Enable horizontal scrolling */
    background-color: rgba(255, 255, 255, 0.9); /* Light background color */
    border-radius: 30px; /* Rounded corners */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2); /* Shadow for depth */
    padding: 10px; /* Padding inside the container */
    z-index: 2; /* Higher z-index to keep it above the background */
}

.scrollable-nav ul {
    list-style-type: none;
    padding: 0; 
    display: flex;
}

.scrollable-nav li {
    padding: 8px; /* Padding for each list item */
    margin-right: 15px; /* Space between items */
    margin-top: -1px;
}

.scrollable-nav li:last-child {
    margin-right: 0; /* Remove margin from last item */
}

.scrollable-nav li:hover {
    border-radius: 30px;
    cursor: pointer;
}

.connect-wallet {
    background-color: #2a81ff;
    color: #fff;
    border-radius: 30px;
    padding: 10px 20px;
    cursor: pointer;
    font-weight: bold;
}

.top-left-title{
    font-size: 100px;
    font-weight: 900;
    color: #2a81ff;
    margin-top: 100px;
    text-align: left;
    margin-left: 80px;
    margin-top: 300px;
}

.top-left-tagline{
    font-size: 30px;
    font-weight: 500;
    color: #000000;
    margin-top: -90px;
    text-align: left;
    margin-left: 80px;
}